{% macro card(title, content, color, gradient, email, calendar) %}
    <div class="card wow animated fadeInUp" style="{% if color %}background: {{ color }}; {% elif gradient %}  background: linear-gradient({{ gradient[0] }},{{ gradient[1] }}); {% endif %}">
        <div class="card-body text-light">
        <h5 class="card-title important" style="font-size: 32px;" {% if calendar %}id="calendar-title"{% endif %}>{{ title }}</h5>
        <div class="card-content">
            <p class="text-light" style="font-size: 24px;" {% if calendar %}id="calendar-description"{% endif %}>{{ content|safe }}</p>
        </div>
            {% if email %}
                <a href="mailto:{{ email }}"><i class="fas fa-envelope text-light" style="font-size: 36px"></i></a>
            {% endif %}
        </div>
  </div>
{% endmacro %}
{% macro image(src) %}
    <img class="image-smooth" width="100%" src={{ src|default("https://via.placeholder.com/1920x540") }} />
{% endmacro %}