<style>
    .btn-mobile:hover {
        background: transparent !important;
    }
</style>
<section id="mobile" class="hd-none d-sm-block d-md-none">
    <div class="container">
        <div class="row">
            <div class="mobile-col">
                <a class="btn btn-primary transparent btn-mobile" href="/#">
                    <i class="mobile-icon fas fa-home text-super"></i>
                </a>
            </div>
            <div class="mobile-col">
                <a class="btn btn-primary transparent btn-mobile" href="/#schedule">
                    <i class="mobile-icon fas fa-calendar-times text-super"></i>
                </a>
            </div>
            <div class="mobile-col">
                <a class="btn btn-primary transparent btn-mobile" href="/#faq">
                    <i class="mobile-icon fas fa-question text-super"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<footer class="footer bg-super">
    <div class="container center">
        <div class="row">
            <div class="col-sm center">
                <img src="{{ url_for('static', filename='svg/superhack-logo.svg') }}" width="50%"
                     style="max-height: 150px"/>
            </div>
            <div class="col-sm important text-light center">
                <button type="button" class="btn transparent btn-footer">
                    <a href="mailto:harris@superhack.org"><i class="fas fa-envelope text-light"></i></span><br/></a>
                </button>
                <button type="button" class="btn transparent btn-footer">
                    <a href="https://github.com/hackclubcca/superhack"><i class="fab fa-github text-light"></i><br/></a>
                </button>
                <!--
                <button type="button" class="btn transparent btn-footer">
                    <a href="https://twitter.com"><i class="fab fa-twitter text-light"></i><br/></a>
                </button>
                -->
                <button type="button" class="btn transparent btn-footer">
                    <a href="https://join.slack.com/t/super-hack/shared_invite/enQtODA0ODI2ODkyOTc3LTMyNzMxNjRlM2ZiYjc5OTAxNDQ4Y2JkY2RmZmRjYjI2Y2UzMDg2YzIxNGMzNzkyMGUzM2M1YTgyMWJlODBkYmE"><i
                            class="fab fa-slack text-light"></i><br/></a>
                </button>

                <button type="button" class="btn transparent btn-footer">
                    <a href="https://www.notion.so/hbeg/Super-Hack-98ae69d26e934784a8ad5544546f6a51"><i
                            class="fas fa-info-circle text-light"></i></a>
                </button>
            </div>
            <div class="col-sm">
                <h3 class="text-light">
                    We're a nonprofit fiscally sponsored by <span class="important">Hack Club Bank</span>.
                </h3>
                <p class="text-light" style="font-size: 16pt;">EIN: 81-2908499</p>
            </div>
        </div>
    </div>
</footer>