<section class="footer bg-raven">
    <div class="container center">
        <div class="row">
            <div class="col-sm center">
                <img src="{{ url_for('static', filename='svg/ravenhacklogo.svg') }}" width="50%" />
            </div>
            <div class="col-sm important text-light center">
                <button type="button" class="btn transparent btn-footer">
                    <i class="fas fa-envelope"></i> email us <br/>
                </button>
                <button type="button" class="btn transparent btn-footer">
                    <i class="fab fa-github"></i> src code <br/>
                </button>
                <button type="button" class="btn transparent btn-footer">
                    <i class="fab fa-twitter"></i> twitter <br/>
                </button>
                <button type="button" class="btn transparent btn-footer">
                    <i class="fas fa-ice-cream"></i> the full scoop
                </button>
            </div>
            <div class="col-sm">
              <div class="important grey-text">
                  We're a nonprofit that's financially sponsored by Hack Club.
              </div>
            </div>
          </div>
    </div>
</section>