{% extends "partials/header.html" %}
{% from "partials/card.html" import card, team_member, image, importantcard, collapsiblecard with context %} {# Default card template #}
{% from "partials/leader.html" import leader, sponsor with context %}
{% from "partials/divider.html" import Divider with context %}
{% block content %}
<div class="center" id="header-bg" style="margin-top:-1px; height: 100%;">
    <div class="container">
    <img src="{{ url_for('static', filename='svg/superhack-logo.svg') }} " alt="Logo" id="logo" class="rellax" data-rellax-speed="1"/>
    <h1 class="important text-light">Super Hack</h1>
    <h2 class="text-light">February 1, 2020 @ <span class="important">SDSC</span></h2>
        <a role="button" href="https://superhack.typeform.com/to/PKNkom" class="btn btn-light" id="register-button">Apply <i class="fas fa-arrow-right"></i></a>
    </div>
</div>
{{ Divider("#29ABE2") }}
<div class="container">
   <h1 class="leader-text important animated fadeInUp"  id="welcome">Welcome to Super Hack '20!</h1>
    <div class="row wow fadeInUp display-flex">
        {{ importantcard(title="150+", content="attendees from all over San Diego", class="green-text-gradient", id="attendees") }}
        {{ importantcard(title="12 hrs", content="to build, explore, and deploy", class="yellow-text-gradient", id="time-frame") }}
        {{ importantcard(title="1st", content="high school hackathon in San Diego", class="purple-text-gradient", id="san-diego") }}
    </div>
        {% include "partials/calendar.html" %}
        <div id="faq">
        {{ leader("Frequently Asked Questions <i class='fas fa-question'></i>", id="faq")}}
       <div class="row row-eq-height wow fadeInUp">
           <div class="col-sm-4">
             {{ collapsiblecard(id="faq0",content="Registration officially opens November 4, 2019 and ends December 15. We'll notify you over whether or not you've been admitted on January 6.", title="When can I apply?", color="#d9a700")}}
          </div>
          <div class="col-sm-4">
             {{
             collapsiblecard(id="faq1",content="Of course not! In fact, we encourage novices to attend too!",title="Do I need to know how to code?")
             }}
          </div>
          <div class="col-sm-4">
             {{ collapsiblecard(id="faq2",content="Anyone!! Now that our venue isn't at Canyon Crest, we can open the event to anyone from anywhere.", title="Who can attend?", color="#11998e")}}
          </div>
       </div>
       <div class="row row-eq-height wow fadeInUp">
           <div class="col-sm-4">
             {{
             collapsiblecard(id="faq3",content="At UCSD's San Diego Supercomputer Center (depicted in the map below)", title="Where is it?", color="#F37335")
             }}
          </div>
          <div class="col-sm-4">
             {{
             collapsiblecard(id="faq4",content="The modern definition of \"hacking\" is constructive and means working on cool, creative projects: not what you see in the movies.",title="Hacking??", color="#FF416C")
             }}
          </div>
          <div class="col-sm-4">
             {{
             collapsiblecard(id="faq5",content="Don't take my word for it, but we may be reimbursing 15 students from across the nation ;)", title="Do you reimburse travel?", color="#654ea3")
             }}
          </div>
          <div class="col-sm-4">
             {{
             collapsiblecard(id="faq6",content="We'll release the official theme on the day of the event to ensure that all projects are organic.", title="What's the theme?", color="#2ebf91")
             }}
          </div>
       </div>

        </div>
        {{ leader("Sponsors <i class='fas fa-money-check-alt'></i>", id="sponsors") }}
        <h3 class="black-text">Want to sponsor us?  <a href="mailto:harris@superhack.org">Contact us!</a></h3>
        <div id="sponsor-images">
            <div class="row">
                <div class="col">
                    {{ sponsor(url="https://surcle.io", file="surcle.png", tier="silver") }}
                </div>
                <div class="col">
                    {{ sponsor(url="https://www.sdsc.edu/", file="sdsc.png", tier="silver") }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ sponsor(url="https://repl.it", file="replit.svg", tier="community") }}
                </div>
                <div class="col">
                    {{ sponsor(url="https://makeschool.com", file="makeschool.png", tier="community") }}
                </div>
                <div class="col">
                    {{ sponsor(url="https://hackclub.com/", file="hackclub.svg", tier="community", class="padding-none border-radius-none") }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ sponsor(url="https://balsamiq.com/", file="balsamiq.svg") }}
                </div>
                <div class="col">
                    {{ sponsor(url="http://wolfram.com/", file="wolfram.svg") }}
                </div>
                <div class="col">
                    {{ sponsor(url="https://desmos.com/", file="desmos.png") }}
                </div>
                <div class="col">
                    {{ sponsor(url="https://blockstack.com/", file="blockstack.svg", class="padding-none") }}
                </div>
            </div>
        </div>
    {{ leader("Meet the Team <i class='fas fa-address-book'></i>", id="team") }}
    <div class="row">
        {{ team_member(name="Harris Beg", role="Organizer", email="harris@superhack.org", file="IMG_6074.jpg") }}
        {{ team_member(name="Danial Beg", role="Marketing Lead", email="harris@superhack.org", file="IMG_6075.jpg") }}
    </div>
    {# leader("Want to register? <i class='fas fa-user-plus'></i>") #}
    {# card(content="All you need to do is fill out <a href='https://tritonform.typeform.com/to/PKNkom'>this</a> form and we'll send you a confirmation email once we start rolling out decisions. We thank you for your interest in Super Hack.", title="Registration form") #}
    </div>
    <div id="map"></div>
<script>
   function initMap() {
     // Styles a map in night mode.
     var map = new google.maps.Map(document.getElementById('map'), {
       center: {lat: 32.8843509, lng: -117.2392354},
       zoom: 17,
       styles: [
         {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
         {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
         {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
         {
           featureType: 'administrative.locality',
           elementType: 'labels.text.fill',
           stylers: [{color: '#d59563'}]
         },
         {
           featureType: 'poi',
           elementType: 'labels.text.fill',
           stylers: [{color: '#d59563'}]
         },
         {
           featureType: 'poi.park',
           elementType: 'geometry',
           stylers: [{color: '#263c3f'}]
         },
         {
           featureType: 'poi.park',
           elementType: 'labels.text.fill',
           stylers: [{color: '#6b9a76'}]
         },
         {
           featureType: 'road',
           elementType: 'geometry',
           stylers: [{color: '#38414e'}]
         },
         {
           featureType: 'road',
           elementType: 'geometry.stroke',
           stylers: [{color: '#212a37'}]
         },
         {
           featureType: 'road',
           elementType: 'labels.text.fill',
           stylers: [{color: '#9ca5b3'}]
         },
         {
           featureType: 'road.highway',
           elementType: 'geometry',
           stylers: [{color: '#746855'}]
         },
         {
           featureType: 'road.highway',
           elementType: 'geometry.stroke',
           stylers: [{color: '#1f2835'}]
         },
         {
           featureType: 'road.highway',
           elementType: 'labels.text.fill',
           stylers: [{color: '#f3d19c'}]
         },
         {
           featureType: 'transit',
           elementType: 'geometry',
           stylers: [{color: '#2f3948'}]
         },
         {
           featureType: 'transit.station',
           elementType: 'labels.text.fill',
           stylers: [{color: '#d59563'}]
         },
         {
           featureType: 'water',
           elementType: 'geometry',
           stylers: [{color: '#17263c'}]
         },
         {
           featureType: 'water',
           elementType: 'labels.text.fill',
           stylers: [{color: '#515c6d'}]
         },
         {
           featureType: 'water',
           elementType: 'labels.text.stroke',
           stylers: [{color: '#17263c'}]
         }
       ]
     });
     var marker = new google.maps.Marker({
         position: {lat: 32.8843509, lng: -117.2392354},
         map: map,
         title: 'Super Hack Venue',
         icon: "https://www.superhack.org/images/favicon-32x32.png"
     });
   }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAujkibpyc00cL01654mEAtiJ4BXrYb_KU&callback=initMap"
   async defer></script>
<div class="bg-triton full-width">
   {{ Divider("#242f3e") }}
</div>
{% endblock %}