{% extends "partials/header.html" %}
{% from "partials/card.html" import card, image with context %} {# Default card template #}
{% from "partials/leader.html" import leader, sponsor with context %}
{% from "partials/divider.html" import Divider with context %}
{% block content %}
<div style="background-image: linear-gradient(32deg, #d53032, #aa2a65); margin-top:-1px; height: 100%; text-align: center;">
   <span id="logo-helper"></span><img src="{{ url_for('static', filename='svg/ravenhacklogo.svg') }}" alt="Logo" id="logo" class="rellax" data-rellax-speed="-2" width="40%" />
</div>
{{ Divider(gradient=["#d53032","#bd2c4d"]) }}
<div class="container">
   <h1 class="yellow-text important animated fadeInUp"  id="welcome" style="font-size: 50px; margin-top: 100px; margin-bottom: 20px;">Welcome to Raven Hack '20</h1>
   {{ card(title="What even is Raven Hack?", content="Raven Hack is an 8-hour hackathon that will be hosted at the San Diego Supercomputer Center on February 1, 2020. At Raven Hack, high school students will collaborate to work on unique projects that apply their computer science skills to real-world applications.") }}
   {{ leader("Schedule 📅", id="schedule") }}
   {% include "partials/calendar.html" %}
   {{ leader("Frequently Asked Questions ❓", id="faq")}}
   <div class="row wow animated fadeInUp">
      <div class="col-sm-4" style="margin-bottom: 20px">
         {{
         card(content="Of course not! This event's primary goal is to invent an entertaining yet competitive experience for all, with programming simply being the medium.",title="Do I need to know how to code?")
         }}
      </div>
      <div class="col-sm-4" style="margin-bottom: 20px">
         {{ card(content="Anyone!! Now that our venue isn't at Canyon Crest, we can open the event to anyone from anywhere.", title="Who can attend?", gradient=["#11998e","#38ef7d"])}}
      </div>
      <div class="col-sm-4" style="margin-bottom: 20px">
         {{
         card(content="The hosting details are still being formalized, but it's looking like it'll be held in Canyon Crest Academy's Media Center from 12-6PM.", title="Where is it?", gradient=["#FDC830", "#F37335"])
         }}
      </div>
   </div>
   <div class="row wow animated fadeInUp">
      <div class="col-sm-4" style="margin-bottom: 20px">
         {{
         card(content="No, we're not hacking whatsoever. Besides the fact that we could get in trouble for something like that, the usage of 'hacking' has been broadened to the prospect of collaborating on Computer Science-based projects.",title="Hacking??", gradient=["#FF416C","#FF4B2B"])
         }}
      </div>
      <div class="col-sm-4" style="margin-bottom: 20px">
         {{ card(content="Don't take my word for it, but we may be reimbursing 15 students from across the nation ;)", title="Do you provide reimbursements?", gradient=["#654ea3","#eaafc8"])}}
      </div>
      <div class="col-sm-4" style="margin-bottom: 20px">
         {{
         card(content="Yes, as it turns out, we've been planning to come up with a method to elect leaders for next year. It is very likely that our selection will come from active participants from our local Hack Club chapter.", title="Can I do it next year?", gradient=["#8360c3","#2ebf91"])
         }}
      </div>
   </div>
    {{ leader("Sponsors", id="sponsors") }}
    <div class="card wow animated fadeInUp" id="sponsor-images">
        <div class="row">
            <div class="col">
                {{ sponsor(url="https://repl.it", file="replit.svg") }}
            </div>
            <div class="col">
                {{ sponsor(url="https://balsamiq.com/", file="balsamiq.svg") }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ sponsor(url="http://wolfram.com/", file="wolfram.svg") }}
            </div>
            <div class="col">
                {{ sponsor(url="https://hackclub.com/", file="hackclub.png") }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ sponsor(url="https://desmos.com/", file="desmos.png") }}
            </div>
        </div>
    </div>
    {{ leader("Meet the Team 👋", id="team") }}
   <div class="row wow animated fadeInUp">
      <div class="col-sm-6" style="margin-bottom: 20px">
         {{
         card(content="Hey there! I'm a senior at Canyon Crest Academy and the creator of Raven Hack. While I love hackathons, I've also explored the world of research, product development, and, perhaps most importantly, Star Wars (I'm a big fan). ",title="Harris Beg, President", gradient=["#FF416C","#FF4B2B"], email="harris@ravenhack.org")
         }}
      </div>
      <div class="col-sm-6" style="margin-bottom: 20px">
         {{ image(src="https://i.ibb.co/HBc61LS/IMG-6074.jpg") }}
      </div>
   </div>
    {{ leader("Want to register? ®️") }}
    {{ card(content="All you need to do is fill out <a href='https://ravenhack.typeform.com/to/PKNkom'>this</a> form and we'll send you a confirmation email ASAP. We thank you for your interest in Raven Hack.", title="Registration form") }}
</div>
<div id="map"></div>
<script>
   function initMap() {
     // Styles a map in night mode.
     var map = new google.maps.Map(document.getElementById('map'), {
       center: {lat: 32.8843509, lng: -117.2392354},
       zoom: 17,
       styles: [
         {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
         {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
         {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
         {
           featureType: 'administrative.locality',
           elementType: 'labels.text.fill',
           stylers: [{color: '#d59563'}]
         },
         {
           featureType: 'poi',
           elementType: 'labels.text.fill',
           stylers: [{color: '#d59563'}]
         },
         {
           featureType: 'poi.park',
           elementType: 'geometry',
           stylers: [{color: '#263c3f'}]
         },
         {
           featureType: 'poi.park',
           elementType: 'labels.text.fill',
           stylers: [{color: '#6b9a76'}]
         },
         {
           featureType: 'road',
           elementType: 'geometry',
           stylers: [{color: '#38414e'}]
         },
         {
           featureType: 'road',
           elementType: 'geometry.stroke',
           stylers: [{color: '#212a37'}]
         },
         {
           featureType: 'road',
           elementType: 'labels.text.fill',
           stylers: [{color: '#9ca5b3'}]
         },
         {
           featureType: 'road.highway',
           elementType: 'geometry',
           stylers: [{color: '#746855'}]
         },
         {
           featureType: 'road.highway',
           elementType: 'geometry.stroke',
           stylers: [{color: '#1f2835'}]
         },
         {
           featureType: 'road.highway',
           elementType: 'labels.text.fill',
           stylers: [{color: '#f3d19c'}]
         },
         {
           featureType: 'transit',
           elementType: 'geometry',
           stylers: [{color: '#2f3948'}]
         },
         {
           featureType: 'transit.station',
           elementType: 'labels.text.fill',
           stylers: [{color: '#d59563'}]
         },
         {
           featureType: 'water',
           elementType: 'geometry',
           stylers: [{color: '#17263c'}]
         },
         {
           featureType: 'water',
           elementType: 'labels.text.fill',
           stylers: [{color: '#515c6d'}]
         },
         {
           featureType: 'water',
           elementType: 'labels.text.stroke',
           stylers: [{color: '#17263c'}]
         }
       ]
     });
   }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAujkibpyc00cL01654mEAtiJ4BXrYb_KU&callback=initMap"
   async defer></script>
<div class="bg-raven" width="100%">
   {{ Divider("#242f3e") }}
   <div class="container">
      {{ leader("Want to sponsor us?") }}
      {{
      card(title="Thanks!", content="It's because of companies like yours that the students of today will emerge as the leaders of tomorrow. Please follow <a href=''>this</a> link to go through the screening process, or contact us directly.", color="#222")
      }}
   </div>
</div>
{% endblock %}