{% extends "partials/header.html" %}
{% from "partials/card.html" import card, team_member, image, importantcard, collapsiblecard with context %}
{# Default card template #}
{% from "partials/leader.html" import leader, sponsor with context %}
{% from "partials/divider.html" import Divider with context %}
{% block content %}
    <div class="container">
        {{ leader("Meet the Team <i class='fas fa-address-book'></i>", id="meet-the-team") }}
        <div class="row">
            <div class="col col-sm-6">
                {{ team_member(name="Harris Beg", role="President", email="harris@superhack.org", file="IMG_6074.jpg") }}
                {{ team_member(name="Eli Morris", role="Logistics", email="contact@superhack.org") }}
                {{ team_member(name="Gary Peng", role="Sponsorships", email="gary@superhack.org", file="IMG_6075.jpg") }}
                {{ team_member(name="Brandon Chao", role="Outreach", email="contact@superhack.org", file="IMG_20191029.jpg") }}
                {{ team_member(name="Tony Mauro", role="Advisor", email="contact@superhack.org") }}
            </div>
            <div class="col col-sm-6">
                {{ team_member(name="Ange Mason", role="Advisor", email="amason@sdsc.edu") }}
                {{ team_member(name="Saikat Thakur", role="Advisor", email="schakrabortythakur@ucsd.edu") }}
                {{ team_member(name="Farhat Beg", role="Advisor", email="fbeg@eng.ucsd.edu") }}
                {{ team_member(name="Magali Chavez", role="Advisor", email="fbeg@eng.ucsd.edu") }}
            </div>
        </div>
    </div>
{% endblock %}