@import './variables.scss';

@font-face {
  font-family: "Gilroy Bold";
  src: url("../gen/Gilroy-ExtraBold.otf");
}

@font-face {
  font-family: "Gilroy";
  src: url("../gen/Gilroy-Medium.ttf");
}

@keyframes anchor-rotate {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}

h1 {
  font-size: 72px;
}

@media screen and (max-width: 700px) {
  .divider {
    margin-top: -15px;
  }
  .calendar {
    width: 100% !important;
  }
  .footer {
    margin-bottom: 60px;
  }
  h1 {
    font-size: 48px !important;
  }
}


@media screen and (min-width: 1001px) {
  #mobileMenu {
    display: none !important;
  }
}

html {
  scroll-behavior: smooth;
}

::selection {
  transition: all ease-in-out 0.2s;
  background: darken($desert-sand, 10);
}

::-moz-selection {
  background: $primary;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $off-black;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  @include cool-rgb;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary;
}

.navbar {
  background: $primary;
  transition: 250ms ease-in-out all;
  border-radius: 0 0 20px 20px !important;
  position: fixed;
  padding: 20px;
  width: 100vw;
  z-index: 999;
}

* {
  font-family: $normal;
  transition: 250ms ease-in-out all;

  .important {
    font-family: $bold;
  }

  button {
    font-family: $bold;
    border: 0px;
    padding: 16px;
    border-radius: 500px !important;
  }
}

.center {
  text-align: center;
}

body {
  background: $primary;
  overflow-x: hidden;
  max-width: 100vw;
}

#all-content {
  background: $desert-sand !important;
  padding-bottom: 0;
}

.grey-text {
  color: $off-black !important;
}

.pink-text-gradient {
  @include text-g(#d53032, #fb0074);
}

.orange-text {
  color: #FF5722;
}

.purple-text {
  color: #ff3bff;
}

.white-text {
  color: white;
}

.padding-none {
  padding: 0 !important;
}

.border-radius-none {
  border-radius: 0 !important;
}

.secondary {
  background: $secondary;
}

.black-text {
  color: black !important;
}

.btn-primary {
  border-color: transparent !important;
}

.full-width {
  width: 100% !important;
}

.row > *[class^="col"] {
  margin-bottom: 20px;
}

/*
.box-shadow {
  transition: all ease-in-out 0.2s;
  box-shadow: 5px 5px 6px rgba(46, 46, 46, 0.6);
}
.box-shadow:hover {
  box-shadow: 1px 1px 6px rgba(46, 46, 46, 0.6);
}
*/

.team-member {
  min-height: 50px;
  border-radius: 16px;
  background: darken($desert-sand, 10);
  margin: 16px;
  text-align: center;
  padding: 16px;
  .logo {
    border-radius: 16px;
    overflow: hidden;
    height: 100px;
    border: 8px solid black;
    width: 100px;
    margin: 0 auto;
    background-color: black;
    .logo, img {
      position: absolute;
      left: 0;

      width: 100%;
    }

    &:hover {
      box-shadow: 8px 8px #222222 !important;
    }
  }

  a {
    font-size: 24px;
    font-family: "Gilroy";
    color: white !important;
  }
}

.sponsorship-logo {
  box-shadow: 0px 0px;
  max-width: 150px;
  transition: 200ms ease-in-out all;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;

  &:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.2);
  }
}

.superhero-tier {
  max-width: 500px !important;
  font-size: 36pt;
  min-height: 200px;
}

.gold-tier {
  max-width: 400px !important;
}

.silver-tier {
  max-width: 350px !important;
  max-height: 150px;
}

.custom-tier {
  img {
    max-height: 200px;
  }
}

.community-tier {
  max-width: 200px !important;
}

#sponsor-images {
  text-align: center;
  background: transparent;

  .col {
    /* flex-grow: 0 !important; */
  }
}


#mobile {
  position: fixed;
  bottom: 0;
  background: #001f33;
  width: 100vw;
  font-size: 50pt;
  z-index: 999;
  height: 60px;
  line-height: 60px;
}

h1 {
  margin-bottom: 0;
}

.mobile-col {
  width: 33%;
  text-align: center;
}

.mobile-icon {
  font-size: 16pt !important;
}

.image-smooth {
  border-radius: 20px !important;
  @include default-padding;
}

.btn:not(.btn-mobile):not(.btn-footer) {
  border-radius: 500px;
  background: transparent;
  color: white;
  transition: 250ms ease-in-out all;
  border: 4px solid white !important;
  font-size: $medium-size;

  &:hover {
    background: white;
    color: $primary;
  }
}

.calendar {
  overflow-y: scroll;
  height: 400px;

  &::-webkit-scrollbar-track {
    background: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0 5px 5px 0;
    background: $off-black;
  }
}

.leader-text {
  margin-top: 80px !important;
  color: black;
  position: relative;
  display: inline-block;
  text-shadow: 4px 4px darken($desert-sand, 20);
  font-size: 48pt;
}

.card {
  background: black;
  border: 8px solid black !important;
  border-radius: 20px !important;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.15);
  transition: all 0.2s ease-in-out;
  box-shadow: 4px 4px #222222;
  margin-bottom: 20px;
  color: white !important;

  &:hover {
    box-shadow: 8px 8px #222222;
    transform: scale(1.05, 1.05) rotate(-0.18deg);
    cursor: pointer;
  }
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

a {
  font-family: $bold;
  color: black;

  &:hover {
    color: #515151;
    text-decoration-style: unset;
  }
}

.underline {
  text-decoration: underline !important;
}

.text-light {
  color: white !important;
}

.text-super {
  color: $secondary;
}

.bg-super {
  background: $primary;
}

.transparent {
  background: transparent;
}

.bg-black {
  background: black !important;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

#logo-helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#logo {
  display: inline-block;
  vertical-align: middle;
  width: 50vw;
  max-height: 30vh;
  animation: anchor-rotate 2s infinite ease-in-out;
  margin-top: 100px;
}

#logo-text {
  width: 100%;
  max-height: 100px;
}

#logo-sub-text {
  width: 100%;
  max-height: 80px;
}

#map {
  height:66vh;
}

#main-content {
  background: $desert-sand;
  text-align: center !important;
}

#meet-the-team-leader {
  margin-top: 100px !important;
}

.image-caption {
  background: #fa335b;
  font-family: $bold;
  width: calc(100% + 16px);
  padding: 8px 16px;
  bottom: -8px;
  left: -8px;
  border-radius: 16px;
  border: 8px solid black;
  position: absolute;
  font-size: 16pt;
  text-transform: uppercase;
}

.footer {
  padding-top: 50px;
  font-size: 24pt;

  .btn-footer {
    color: white;
    font-size: 24pt !important;
  }
}

tr {
  transition: background-color 0.1s linear;
  margin: 20px 0px;
  color: black;

  td {
    font-family: "Gilroy Bold" !important;
    border-top: 8px solid black !important;
  }

  //background-image: url("../images/message.svg");
  &:hover {
    color: $desert-sand;
    background-color: black;
    cursor: pointer;
  }
}

#san-diego {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 700 500' style='enable-background:new 0 0 700 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bdisplay:none;fill:%23FFFFFF;%7D .st1%7Bfill:%23d9cf0d;%7D%0A%3C/style%3E%3Cimage style='display:none;overflow:visible;' width='3246' height='1855' xlink:href='../../Documents/San_Diego,_CA_USA_-_View_from_Coronado_-_panoramio.jpg' transform='matrix(0.2311 0 0 0.2311 -25 35.1978)'%3E%3C/image%3E%3Cpolyline class='st0' points='0,339 28,339 28,309 32,309 32,303 34,303 34,301 40,301 49,301 51,303 51,310 54,310 54,329 60,324 62,325 72,320 72,310 75,310 75,309 81,309 88,309 88,328 88,330 90,330 90,308 92,306 92,288 94,288 95,283 103,283 103,286 107,286 107,289 107,307 109,309 109,328 113,328 113,324 115,324 115,321 117,321 117,315 120,315 120,298 '/%3E%3Cpath class='st1' d='M-37.5,505.5c0,0,68.4-125,72.2-280H72c0,0-39.5,266-82.1,280H-37.5z'/%3E%3Cpath class='st1' d='M27.5,225.5c0,0-80-2-84,39c0,0,0-93,72-92c0,0-30-36-80-16c0,0,45-63,100-30c0,0-10-40-40-44c0,0,75-7,104,55 c0,0,36-35,78,36c0,0-74-24-85,13c0,0,68,10,85,72c0,0-98-53-103-26S27.5,225.5,27.5,225.5z'/%3E%3Cpath class='st1' d='M255.5,506.5c0,0,68.4-125,72.2-280H365c0,0-39.5,266-82.1,280H255.5z'/%3E%3Cpath class='st1' d='M320.5,226.5c0,0-80-2-84,39c0,0,0-93,72-92c0,0-30-36-80-16c0,0,45-63,100-30c0,0-10-40-40-44c0,0,75-7,104,55 c0,0,36-35,78,36c0,0-74-24-85,13c0,0,68,10,85,72c0,0-98-53-103-26S320.5,226.5,320.5,226.5z'/%3E%3Cpath class='st1' d='M548.5,510.5c0,0,68.4-125,72.2-280H658c0,0-39.5,266-82.1,280H548.5z'/%3E%3Cpath class='st1' d='M613.5,230.5c0,0-80-2-84,39c0,0,0-93,72-92c0,0-30-36-80-16c0,0,45-63,100-30c0,0-10-40-40-44c0,0,75-7,104,55 c0,0,36-35,78,36c0,0-74-24-85,13c0,0,68,10,85,72c0,0-98-53-103-26S613.5,230.5,613.5,230.5z'/%3E%3C/svg%3E%0A");
  background-color: #f2e824;
  background-position: center center;
  background-size: cover;
  vertical-align: top;
}

#time-frame {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 750 500' style='enable-background:new 0 0 750 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.2;fill:none;stroke:%23FFFFFF;stroke-width:20;stroke-miterlimit:10;%7D .st1%7Bopacity:0.2;fill:none;stroke:%23FFFFFF;stroke-width:20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Ccircle class='st0' cx='271.5' cy='262.5' r='184.5'/%3E%3Cpolyline class='st1' points='271.5,130.4 271.5,262.5 347.8,337.3 '/%3E%3C/svg%3E");
  background-color: #003fb3;
  background-position: center center;
  background-size: cover;
  vertical-align: top;
}

#attendees {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 750 500' style='enable-background:new 0 0 750 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%231A1A1A;%7D .st1%7Bopacity:0.4;fill:%23FBB03B;%7D .st2%7Bfill:%23FBB03B;%7D%0A%3C/style%3E%3Crect x='0' width='750' height='500'/%3E%3Cpath class='st0' d='M0,343h34v88l5,1v-9l19-1v-53l25-15l24,12l5,7l6-2v28h11v15l31,1v-10l39-5v-65l18-40v-11h4l24,10v8l18,36v120h5 v-21l24-5l10-24l47-9v-78c0,0,20-65,22-62s28,17,28,17l21,48v97l6-7l22-2v31l19-12v-59l72-2v30h17v19l6-1v-5l16-1v-7l8-5v-59l38-20 v16h8v63h91l4-42h51v142H0V343z'/%3E%3Cpolygon class='st1' points='477.9,106.6 371,259 395.4,274 617.6,214.9 '/%3E%3Cellipse class='st2' cx='574.5' cy='144' rx='110.5' ry='77'/%3E%3Cpath d='M604,103.5c2.6,3.8,15.2,24.5-3.9,33.3c0,0-11.3,6.3-14.2-34l-4.4,6h-6h-6l-4.4-6c-2.8,40.3-14.2,34-14.2,34 c-21.1-9.7-3.5-33.9-3.5-33.9c-28.1,6.2-48.1,21.9-48.1,40.2c0,14.3,12.1,26.9,30.6,34.7c-0.1-0.1-8.6-13.4-0.1-17.1 c8.5-3.8,16,3.1,20.4,11c0,0,4.7-9.7,10.4-8.8c5.7,0.9,13.2,15.4,14.8,23.3c0,0,0,0,0.1,0c1.6-7.9,9.1-22.3,14.8-23.3 c5.7-0.9,10.4,8.8,10.4,8.8c4.4-7.9,11.9-14.8,20.4-11c6.8,3,2.6,12.3,0.7,15.8c16.8-7.9,27.6-19.9,27.6-33.4 C649.5,125.3,630.8,110,604,103.5z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: black;
  background-position: center center;
  background-size: cover;
  vertical-align: top;
}

#welcome {
  font-size: 64px;
  margin-top: 100px;
  margin-bottom: 20px;
}

#header-logo, #zxYzUx {
  display: none;
}

svg {
  margin-top: 0px;
  display: block;
}

#community-card {
  background-image: url("../images/idea-driven.jpg");
  background-color: black;
  background-position: center center;
  background-size: cover;
  height: 350px !important;
}

#everyone-card {
  background-image: url("../images/DAW_2883.jpg");
  background-color: black;
  background-position: center center;
  background-size: cover;
  height: 350px !important;
}

#header-bg {
  background: url("../svg/head-bg.svg");
  background-size: cover;

  span.badge-danger {
    margin-top: 10px;
    border-radius: 16px;
    padding: 8px 16px;
  }
}

#register-button {
  padding: 8px 32px !important;
  font-size: 24pt !important;
  background: transparent;
  color: white;
  border: 4px solid white;

  path {
    transition: none !important;
  }

  &:hover {
    background: white;
    color: $primary;
  }
}

.nav-item {
  margin: 0px 10px;
  font-size: $medium-size;
  text-transform: uppercase;

  &:hover:not(.btn) {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 500px;
  }
}