@import './variables.scss';

@font-face {
  font-family: "Gilroy Bold";
  src: url("../gen/Gilroy-ExtraBold.otf");
}
@font-face {
  font-family: "Gilroy";
  src: url("../gen/Gilroy-Medium.ttf");
}

@keyframes anchor-rotate {
    0% {transform: rotate(1deg);}
    50% {transform: rotate(-1deg);}
    100% {transform: rotate(1deg);}
}

h1 {
  font-size: 72px;
}

@media screen and (max-width: 700px) {
  .divider {
    margin-top: -15px;
  }
  .calendar {
    width: 100% !important;
  }
  .footer {
    margin-bottom: 60px;
  }
  h1 {
    font-size: 48px !important;
  }
}



@media screen and (min-width: 1001px) {
  #mobileMenu {
    display: none !important;
  }
}

html {
  scroll-behavior: smooth;
}
::selection {
  transition: all ease-in-out 0.2s;
  background: $primary;
}
::-moz-selection {
  background: $primary;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $off-black;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  @include cool-rgb;
}

::-webkit-scrollbar-thumb:hover {
  background: $secondary;
}

.navbar {
  background: $primary;
  transition: 250ms ease-in-out all;
  border-radius: 0 0 20px 20px !important;
  position: fixed;
  padding: 20px;
  width: 100%;
  z-index: 999;
}

* {
  font-family: $normal;
  transition: 250ms ease-in-out all;
  .important {
    font-family: $bold;
  }
  button {
    font-family: $bold;
    border: 0px;
    padding: 16px;
    border-radius: 500px !important;
  }
}
.center {
  text-align: center;
}
body {
  background: $baby-blue !important;
  padding-bottom: 0;
}
.grey-text {
  color: $off-black !important;
}
.pink-text-gradient {
  @include text-g(#d53032,#fb0074);
}

.yellow-text-gradient {
  color: #FF5722;
}
.purple-text-gradient {
  color: #ff3bff;
}
.green-text-gradient {
  color: #05b937;
}

.padding-none {
  padding: 0 !important;
}

.border-radius-none {
  border-radius: 0 !important;
}

.secondary {
  background: $secondary;
}

.black-text {
  color: black !important;
}

.btn-primary {
  border-color: transparent !important;
}

.full-width {
  width: 100% !important;
}

.row > *[class^="col"] {
  margin-bottom: 20px;
}
/*
.box-shadow {
  transition: all ease-in-out 0.2s;
  box-shadow: 5px 5px 6px rgba(46, 46, 46, 0.6);
}
.box-shadow:hover {
  box-shadow: 1px 1px 6px rgba(46, 46, 46, 0.6);
}
*/

.team-member {
  min-height: 50px;
  border-radius: 500px;
  img {
    border-radius: 50%;
    height: 100px;
    padding: 5px;
    background-color: black;
  }
  a {
    font-size: 24px;
    font-family: "Gilroy";
    color: white !important;
  }
}

.sponsorship-logo {
  box-shadow: 0px 0px;
  max-width: 150px;
  transition: 200ms ease-in-out all;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  &:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.2);
  }
}

.platinum-tier {
    max-width: 350px !important;
  }
  .gold-tier {
    max-width: 300px !important;
  }
  .silver-tier {
    max-width: 250px !important;
  }
  .community-tier {
    max-width: 200px !important;
  }

#sponsor-images {
  text-align: center;
  background: transparent;
  .col {
    flex-grow: 0 !important;
  }
}


#mobile {
  position: fixed;
  bottom: 0;
  background: black;
  width: 100%;
  font-size: 50pt;
  z-index: 999;
}

h1 {
  margin-bottom: 0;
}

.mobile-col {
  width: 33%;
  text-align: center;
}

.mobile-icon {
  font-size: 30pt !important;
  @include default-padding;
}

.image-smooth {
  border-radius: 20px !important;
  @include default-padding;
}

.btn:not(.btn-mobile):not(.btn-footer) {
  border-radius: 500px;
  background: transparent;
  color: white;
  transition: 250ms ease-in-out all;
  border: 4px solid white !important;
  font-size: $medium-size;
  &:hover {
    background: white;
    color: $primary;
  }
}

.leader-text {
  margin-top: 80px !important;
  color: black;
  position: relative;
  display: inline-block;
  text-shadow: 4px 4px #005fab;
}

.card {
  background: #4ab7ff;
  border: 8px solid black !important;
  border-radius: 20px !important;
  box-shadow: 2px 2px 5px rgba(255,255,255,0.15);
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
  &:hover {
    box-shadow: 8px 8px #222222;
    transform: scale(1.05, 1.05) rotate(-0.18deg);
  }
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

a {
  font-family: $bold;
  color: black;
  &:hover {
    color: $off-black;
    text-decoration-style: unset;
  }
}

.text-raven {
  color: $secondary;
}

.bg-triton {
  background: $primary;
}

.transparent {
  background: transparent;
}

.bg-black {
  background: black !important;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

#logo-helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#logo {
  display: inline-block;
  vertical-align: middle;
  width: 50vw;
  max-height: 30vh;
  animation: anchor-rotate 2s infinite ease-in-out;
  margin-top: 100px;
}

#map {
  height: 50vh;
}

.footer {
  padding-top: 50px;
  font-size: 24pt;
  .btn-footer {
    color: white;
    font-size: 24pt !important;
  }
}

tr {
  transition: background-color 0.1s linear;
  margin: 20px 0px;
  color: black;
  td {
    font-family: "Gilroy Bold" !important;
  }
  //background-image: url("../images/message.svg");
  border: 3px solid black;
  &:hover {
    color: $baby-blue;
    background-color: black;
    cursor: pointer;
  }
}

#san-diego {
  background-image: url("../images/palmtrees.svg");
  background-color: #222586;
  background-position: center center;
  background-size: cover;
}

#time-frame {
  background-image: url("../images/clocks.svg");
  background-color: #FFC107;
  background-position: center center;
  background-size: cover;
}
#attendees {
  background-image: url("../images/people.svg");
  background-color: #0f5d27;
  background-position: center center;
  background-size: cover;
}

#welcome {
  font-size: 64px; margin-top: 100px; margin-bottom: 20px;
}

#header-logo, #zxYzUx {
  display: none;
}
#header-bg {
  background: url("../svg/head-bg.svg");
  background-size: cover;
  background-position: center center;
}

#register-button {
  padding: 8px 32px !important;
  font-size: 24pt !important;
  background: transparent;
  color: white;
  transition: 250ms ease-in-out all;
  border: 4px solid white;
  &:hover {
    background: white;
    color: $primary;
  }
}
.nav-item {
  margin: 0px 10px;
  font-size: $medium-size;
  text-transform: uppercase;
  &:hover:not(.btn) {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 500px;
  }
}