/*

    Most Important Variables go here

 */
@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes rainbow {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@font-face {
  font-family: "Gilroy Bold";
  src: url("../gen/Gilroy-ExtraBold.otf"); }
@font-face {
  font-family: "Gilroy";
  src: url("../gen/Gilroy-Light.otf"); }
@media screen and (max-width: 700px) {
  #logo {
    width: 100% !important; }

  .divider {
    margin-top: -15px; }

  .calendar {
    width: 100% !important; }

  .footer {
    margin-bottom: 80px; } }
html {
  scroll-behavior: smooth; }

::selection {
  transition: all ease-in-out 0.2s;
  background: #d53032; }

::-moz-selection {
  background: #d53032; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  background: #100e16;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(#ff1e1e, #ff9c00, #ffc900, #18c51e, #00a1df, #000eff, #9c00ff, #ff00da, #ff0000);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 1ms ease infinite;
  -moz-animation: rainbow 1ms ease infinite;
  animation: rainbow 1ms ease infinite; }

::-webkit-scrollbar-thumb:hover {
  background: #aa2a65; }

* {
  font-family: "Gilroy"; }
  * .important {
    font-family: "Gilroy Bold"; }
  * button {
    font-family: "Gilroy Bold";
    border: 0px;
    padding: 16px;
    border-radius: 500px !important; }

.center {
  text-align: center; }

body {
  background: #100e16 !important;
  padding-bottom: 0; }

.grey-text {
  color: #100e16 !important; }

.yellow-text {
  background: -webkit-linear-gradient(32deg, #d53032, #aa2a65);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.yellow-text-gradient {
  background: -webkit-linear-gradient(#e98f00, #f8ff3f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.purple-text-gradient {
  background: -webkit-linear-gradient(#ff3bff, #250096);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.green-text-gradient {
  background: -webkit-linear-gradient(#4a8f00, #069468);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.black-text {
  color: black !important; }

.btn-primary {
  border-color: transparent !important; }

.box-shadow {
  transition: all ease-in-out 0.2s;
  box-shadow: 5px 5px 6px rgba(46, 46, 46, 0.6); }

.box-shadow:hover {
  box-shadow: 1px 1px 6px rgba(46, 46, 46, 0.6); }

.sponsorship-logo {
  box-shadow: 0px 0px;
  max-width: 200px;
  transition: 200ms ease-in-out all;
  margin: 20px; }
  .sponsorship-logo:hover {
    -webkit-filter: drop-shadow(0px 4px 5px #100e16);
    filter: drop-shadow(0px 4px 5px #100e16); }

#sponsor-images {
  background: white;
  text-align: center; }

#mobile {
  position: fixed;
  bottom: 0;
  background: black;
  width: 100%;
  font-size: 50pt;
  z-index: 999; }

h1 {
  margin-top: 100px !important;
  margin-bottom: 0; }

.mobile-col {
  width: 33%;
  text-align: center; }

.mobile-icon {
  font-size: 30pt !important;
  padding: 10px; }

.image-smooth {
  border-radius: 20px !important;
  padding: 10px; }

.underline {
  background-image: linear-gradient(120deg, #e52d27 0%, #6b0a0e 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in; }

.underline:hover {
  background-size: 100% 88%;
  cursor: pointer; }

.yellow-gradient {
  background: yellow !important; }

.card {
  background: linear-gradient(32deg, #d53032, #aa2a65);
  -moz-background-image: -moz-linear-gradient(32deg, #d53032, #aa2a65);
  -webkit-background-image: -webkit-linear-gradient(32deg, #d53032, #aa2a65);
  border: 0 !important;
  border-radius: 20px !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px; }

a {
  font-family: "Gilroy Bold";
  color: #5058b3; }

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.05, 1.05) rotate(-0.18deg); }

.text-raven {
  background: -webkit-linear-gradient(32deg, #d53032, #aa2a65);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.bg-raven {
  background: linear-gradient(32deg, #d53032, #aa2a65);
  -moz-background-image: -moz-linear-gradient(32deg, #d53032, #aa2a65);
  -webkit-background-image: -webkit-linear-gradient(32deg, #d53032, #aa2a65); }

.transparent {
  background: transparent; }

.semi-transparent {
  background: rgba(255, 255, 255, 0.2); }

.row.display-flex {
  display: flex;
  flex-wrap: wrap; }

.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column; }

#logo-helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

#logo {
  display: inline-block;
  vertical-align: middle; }

#map {
  height: 100%;
  border-radius: 20px; }

.footer {
  padding-top: 50px;
  font-size: 24pt; }
  .footer .btn-footer {
    color: white;
    font-size: 24pt; }

/*# sourceMappingURL=index.css.map */
