/*

    Most Important Variables go here

 */

$primary: #0071bc;
$secondary: #22bffb;
$sand: #F6D7B0;
$sand-20: darken($sand, 40);
$medium-size: 18pt;
$baby-blue: #93d4f0;

@mixin g($start, $stop) {
    background: linear-gradient($start, $stop);
    -moz-background-image: -moz-linear-gradient($start, $stop);
    -webkit-background-image: -webkit-linear-gradient($start, $stop);
}

@mixin text-g($start, $stop) {
    background: -webkit-linear-gradient($start, $stop);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin gradient {
    background: linear-gradient(90deg, $primary, $secondary);
    -moz-background-image: -moz-linear-gradient(90deg, $primary, $secondary);
    -webkit-background-image: -webkit-linear-gradient(90deg, $primary, $secondary);
}

@mixin default-padding {
    padding: 5px;
}

@mixin text-gradient {
    background: -webkit-linear-gradient(90deg, $primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin cool-rgb {
    background: linear-gradient(#ff1e1e, #ff9c00, #ffc900, #18c51e, #00a1df, #000eff, #9c00ff, #ff00da, #ff0000);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 1ms ease infinite;
    -moz-animation: rainbow 1ms ease infinite;
    animation: rainbow 1ms ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}

@-moz-keyframes rainbow {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}

@keyframes rainbow {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position: 0% 50%}
}

$bold: 'Gilroy Bold';
$normal: 'Gilroy';
$off-black: #100e16;
$link: #5058b3;