/*

    Most Important Variables go here

 */
@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0.2deg);
  }
  50% {
    transform: rotate(-0.2deg);
  }
  100% {
    transform: rotate(0.2deg);
  }
}
@font-face {
  font-family: "Gilroy Bold";
  src: url("../gen/Gilroy-ExtraBold.otf");
}
@font-face {
  font-family: "Gilroy";
  src: url("../gen/Gilroy-Light.otf");
}
/* line 12 */
h1 {
  font-size: 72px;
}

@media screen and (max-width: 700px) {
  /* line 17 */
  .divider {
    margin-top: -15px;
  }

  /* line 20 */
  .calendar {
    width: 100% !important;
  }

  /* line 23 */
  .footer {
    margin-bottom: 80px;
  }

  /* line 26 */
  h1 {
    font-size: 48px !important;
  }
}
@media screen and (min-width: 1001px) {
  /* line 32 */
  #mobileMenu {
    display: none !important;
  }
}
/* line 37 */
html {
  scroll-behavior: smooth;
}

/* line 40 */
::selection {
  transition: all ease-in-out 0.2s;
  background: #2c36d5;
}

/* line 44 */
::-moz-selection {
  background: #2c36d5;
}

/* line 48 */
::-webkit-scrollbar {
  width: 8px;
}

/* line 52 */
::-webkit-scrollbar-track {
  background: #100e16;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* line 57 */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(#ff1e1e, #ff9c00, #ffc900, #18c51e, #00a1df, #000eff, #9c00ff, #ff00da, #ff0000);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 1ms ease infinite;
  -moz-animation: rainbow 1ms ease infinite;
  animation: rainbow 1ms ease infinite;
}

/* line 62 */
::-webkit-scrollbar-thumb:hover {
  background: #22bffb;
}

/* line 66 */
.navbar {
  background: transparent;
  transition: 250ms ease-in-out all;
  border-radius: 0 0 20px 20px !important;
  position: fixed;
  width: 100%;
  z-index: 999;
}

/* line 75 */
* {
  font-family: "Gilroy";
}
/* line 77 */
* .important {
  font-family: "Gilroy Bold";
}
/* line 80 */
* button {
  font-family: "Gilroy Bold";
  border: 0px;
  padding: 16px;
  border-radius: 500px !important;
}

/* line 87 */
.center {
  text-align: center;
}

/* line 90 */
body {
  background: #F6D7B0 !important;
  padding-bottom: 0;
}

/* line 94 */
.grey-text {
  color: #100e16 !important;
}

/* line 97 */
.pink-text-gradient {
  background: -webkit-linear-gradient(#d53032, #fb0074);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 101 */
.yellow-text-gradient {
  background: -webkit-linear-gradient(#FF5722, #FF9800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 104 */
.purple-text-gradient {
  background: -webkit-linear-gradient(#ff3bff, #ad0088);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 107 */
.green-text-gradient {
  background: -webkit-linear-gradient(#05b937, #069468);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 111 */
.secondary {
  background: #22bffb;
}

/* line 115 */
.black-text {
  color: black !important;
}

/* line 119 */
.btn-primary {
  border-color: transparent !important;
}

/* line 123 */
.full-width {
  width: 100% !important;
}

/* line 127 */
.row > *[class^="col"] {
  margin-bottom: 20px;
}

/* line 131 */
.box-shadow {
  transition: all ease-in-out 0.2s;
  box-shadow: 5px 5px 6px rgba(46, 46, 46, 0.6);
}

/* line 135 */
.box-shadow:hover {
  box-shadow: 1px 1px 6px rgba(46, 46, 46, 0.6);
}

/* line 139 */
.team-member {
  min-height: 50px;
  border-radius: 500px;
}
/* line 142 */
.team-member img {
  border-radius: 50%;
  height: 100px;
  background-color: white;
}
/* line 147 */
.team-member a {
  font-size: 24px;
  color: white !important;
  font-family: "Gilroy";
}

/* line 154 */
.sponsorship-logo {
  box-shadow: 0px 0px;
  max-width: 150px;
  transition: 200ms ease-in-out all;
  margin: 20px;
}
/* line 159 */
.sponsorship-logo:hover {
  transform: translateY(-5px);
}

/* line 164 */
.platinum-tier {
  max-width: 350px !important;
}

/* line 167 */
.gold-tier {
  max-width: 300px !important;
}

/* line 170 */
.silver-tier {
  max-width: 250px !important;
}

/* line 173 */
.community-tier {
  max-width: 200px !important;
}

/* line 177 */
#sponsor-images {
  background: white;
  text-align: center;
}

/* line 183 */
#mobile {
  position: fixed;
  bottom: 0;
  background: black;
  width: 100%;
  font-size: 50pt;
  z-index: 999;
}

/* line 192 */
h1 {
  margin-top: 100px !important;
  margin-bottom: 0;
}

/* line 197 */
.mobile-col {
  width: 33%;
  text-align: center;
}

/* line 202 */
.mobile-icon {
  font-size: 30pt !important;
  padding: 5px;
}

/* line 207 */
.image-smooth {
  border-radius: 20px !important;
  padding: 5px;
}

/* line 212 */
.btn {
  border-radius: 500px;
}

/* line 216 */
.yellow-gradient {
  background: yellow !important;
}

/* line 220 */
.leader-text {
  color: black;
  position: relative;
  display: inline-block;
}

/*
.leader-text:after {
  content:'';
  position:absolute;
  top:75%;
  left:0;
  width:100%;
  height: 20px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("../svg/underline.svg");
  margin-bottom: 20px !important;

}
*/
/* line 242 */
.card {
  background: linear-gradient(90deg, #2c36d5, #22bffb);
  -moz-background-image: -moz-linear-gradient(90deg, #2c36d5, #22bffb);
  -webkit-background-image: -webkit-linear-gradient(90deg, #2c36d5, #22bffb);
  border: 0 !important;
  border-radius: 20px !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
}

/* line 251 */
.sand-text {
  color: #eca954;
}

/* line 255 */
a {
  font-family: "Gilroy Bold";
  color: #eca954;
}

/* line 260 */
.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.05, 1.05) rotate(-0.18deg);
}

/* line 265 */
.text-raven {
  background: -webkit-linear-gradient(90deg, #2c36d5, #22bffb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 269 */
.bg-triton {
  background: linear-gradient(90deg, #2c36d5, #22bffb);
  -moz-background-image: -moz-linear-gradient(90deg, #2c36d5, #22bffb);
  -webkit-background-image: -webkit-linear-gradient(90deg, #2c36d5, #22bffb);
}

/* line 273 */
.transparent {
  background: transparent;
}

/* line 277 */
.semi-transparent {
  background: rgba(255, 255, 255, 0.2);
}

/* line 281 */
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

/* line 286 */
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/* line 291 */
#logo-helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* line 297 */
#logo {
  display: inline-block;
  vertical-align: middle;
  width: 50vw;
  max-height: 50vh;
  animation: rotate 2s infinite ease-in-out;
}

/* line 305 */
#map {
  height: 100%;
  border-radius: 20px;
}

/* line 310 */
.footer {
  padding-top: 50px;
  font-size: 24pt;
}
/* line 313 */
.footer .btn-footer {
  color: white;
  font-size: 24pt;
}

/* line 319 */
tr {
  transition: all 0.2s ease-in-out;
  margin: 20px 0px;
  transition: 250ms ease-in-out all;
  color: black;
  border-bottom: 3px solid rgba(246, 215, 176, 0.25);
}
/* line 324 */
tr td {
  font-family: "Gilroy Bold" !important;
}
/* line 329 */
tr:hover {
  color: #F6D7B0;
  background: black;
  cursor: pointer;
}

/* line 336 */
#san-diego {
  background-image: url("../images/palmtrees.svg");
  background-color: #222586;
  background-position: center center;
  background-size: cover;
}

/* line 343 */
#time-frame {
  background-image: url("../images/clocks.svg");
  background-color: #FFC107;
  background-position: center center;
  background-size: cover;
}

/* line 349 */
#attendees {
  background-image: url("../images/people.svg");
  background-color: #0f5d27;
  background-position: center center;
  background-size: cover;
}

/* line 356 */
#welcome {
  font-size: 64px;
  margin-top: 100px;
  margin-bottom: 20px;
}

/* line 362 */
.nav-item {
  margin: 0 10px;
}
