/*

    Most Important Variables go here

 */
@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@font-face {
  font-family: "Gilroy Bold";
  src: url("../gen/Gilroy-ExtraBold.otf");
}
@font-face {
  font-family: "Gilroy";
  src: url("../gen/Gilroy-Light.otf");
}
/* line 12 */
h1 {
  font-size: 72px;
}

@media screen and (max-width: 700px) {
  /* line 17 */
  #logo {
    width: 100% !important;
  }

  /* line 20 */
  .divider {
    margin-top: -15px;
  }

  /* line 23 */
  .calendar {
    width: 100% !important;
  }

  /* line 26 */
  .footer {
    margin-bottom: 80px;
  }

  /* line 29 */
  h1 {
    font-size: 48px !important;
  }
}
@media screen and (min-width: 1001px) {
  /* line 34 */
  #mobileMenu {
    display: none !important;
  }
}
/* line 39 */
html {
  scroll-behavior: smooth;
}

/* line 42 */
::selection {
  transition: all ease-in-out 0.2s;
  background: #d53032;
}

/* line 46 */
::-moz-selection {
  background: #d53032;
}

/* line 50 */
::-webkit-scrollbar {
  width: 8px;
}

/* line 54 */
::-webkit-scrollbar-track {
  background: #100e16;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* line 59 */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(#ff1e1e, #ff9c00, #ffc900, #18c51e, #00a1df, #000eff, #9c00ff, #ff00da, #ff0000);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 1ms ease infinite;
  -moz-animation: rainbow 1ms ease infinite;
  animation: rainbow 1ms ease infinite;
}

/* line 64 */
::-webkit-scrollbar-thumb:hover {
  background: #fb0074;
}

/* line 68 */
.navbar {
  background: transparent;
  transition: 250ms ease-in-out all;
  border-radius: 0 0 20px 20px !important;
  position: fixed;
  width: 100%;
  z-index: 999;
}

/* line 77 */
* {
  font-family: "Gilroy";
}
/* line 79 */
* .important {
  font-family: "Gilroy Bold";
}
/* line 82 */
* button {
  font-family: "Gilroy Bold";
  border: 0px;
  padding: 16px;
  border-radius: 500px !important;
}

/* line 89 */
.center {
  text-align: center;
}

/* line 92 */
body {
  background: #100e16 !important;
  padding-bottom: 0;
}

/* line 96 */
.grey-text {
  color: #100e16 !important;
}

/* line 99 */
.pink-text-gradient {
  background: -webkit-linear-gradient(#d53032, #fb0074);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 103 */
.yellow-text-gradient {
  background: -webkit-linear-gradient(#FF5722, #FF9800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 106 */
.purple-text-gradient {
  background: -webkit-linear-gradient(#ff3bff, #ad0088);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 109 */
.green-text-gradient {
  background: -webkit-linear-gradient(#05b937, #069468);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 113 */
.secondary {
  background: #fb0074;
}

/* line 117 */
.black-text {
  color: black !important;
}

/* line 121 */
.btn-primary {
  border-color: transparent !important;
}

/* line 125 */
.full-width {
  width: 100% !important;
}

/* line 129 */
.row > *[class^="col"] {
  margin-bottom: 20px;
}

/* line 133 */
.box-shadow {
  transition: all ease-in-out 0.2s;
  box-shadow: 5px 5px 6px rgba(46, 46, 46, 0.6);
}

/* line 137 */
.box-shadow:hover {
  box-shadow: 1px 1px 6px rgba(46, 46, 46, 0.6);
}

/* line 141 */
.team_member {
  min-height: 50px;
  border-radius: 500px;
}
/* line 144 */
.team_member img {
  border-radius: 50%;
  margin: 20px;
  height: 100px;
}

/* line 151 */
.sponsorship-logo {
  box-shadow: 0px 0px;
  max-width: 150px;
  transition: 200ms ease-in-out all;
  margin: 20px;
}
/* line 156 */
.sponsorship-logo:hover {
  -webkit-filter: drop-shadow(0px 4px 2px #100e16);
  filter: drop-shadow(0px 4px 2px #100e16);
}

/* line 162 */
.platinum-tier {
  max-width: 350px !important;
}

/* line 165 */
.gold-tier {
  max-width: 300px !important;
}

/* line 168 */
.silver-tier {
  max-width: 250px !important;
}

/* line 171 */
.community-tier {
  max-width: 200px !important;
}

/* line 175 */
#sponsor-images {
  background: white;
  text-align: center;
}

/* line 181 */
#mobile {
  position: fixed;
  bottom: 0;
  background: black;
  width: 100%;
  font-size: 50pt;
  z-index: 999;
}

/* line 190 */
h1 {
  margin-top: 100px !important;
  margin-bottom: 0;
}

/* line 195 */
.mobile-col {
  width: 33%;
  text-align: center;
}

/* line 200 */
.mobile-icon {
  font-size: 30pt !important;
  padding: 5px;
}

/* line 205 */
.image-smooth {
  border-radius: 20px !important;
  padding: 5px;
}

/* line 210 */
.btn {
  border-radius: 500px;
}

/* line 214 */
.yellow-gradient {
  background: yellow !important;
}

/* line 218 */
.card {
  background: linear-gradient(90deg, #d53032, #fb0074);
  -moz-background-image: -moz-linear-gradient(90deg, #d53032, #fb0074);
  -webkit-background-image: -webkit-linear-gradient(90deg, #d53032, #fb0074);
  border: 0 !important;
  border-radius: 20px !important;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
}

/* line 227 */
a {
  font-family: "Gilroy Bold";
  color: #5058b3;
}

/* line 232 */
.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.05, 1.05) rotate(-0.18deg);
}

/* line 237 */
.text-raven {
  background: -webkit-linear-gradient(90deg, #d53032, #fb0074);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 241 */
.bg-raven {
  background: linear-gradient(90deg, #d53032, #fb0074);
  -moz-background-image: -moz-linear-gradient(90deg, #d53032, #fb0074);
  -webkit-background-image: -webkit-linear-gradient(90deg, #d53032, #fb0074);
}

/* line 245 */
.transparent {
  background: transparent;
}

/* line 249 */
.semi-transparent {
  background: rgba(255, 255, 255, 0.2);
}

/* line 253 */
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

/* line 258 */
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/* line 263 */
#logo-helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* line 269 */
#logo {
  display: inline-block;
  vertical-align: middle;
}

/* line 274 */
#map {
  height: 100%;
  border-radius: 20px;
}

/* line 279 */
.footer {
  padding-top: 50px;
  font-size: 24pt;
}
/* line 282 */
.footer .btn-footer {
  color: white;
  font-size: 24pt;
}

/* line 288 */
tr {
  transition: all 0.2s ease-in-out;
  margin: 20px 0px;
  transition: 250ms ease-in-out all;
  border-bottom: 3px solid rgba(251, 0, 116, 0.25);
}
/* line 294 */
tr:hover {
  color: #fb0074;
  background: white;
  cursor: pointer;
}

/* line 301 */
#san-diego {
  background-image: url("../images/palmtrees.svg");
  background-color: #222586;
  background-position: center center;
  background-size: cover;
}

/* line 308 */
#time-frame {
  background-image: url("../images/clocks.svg");
  background-color: #FFC107;
  background-position: center center;
  background-size: cover;
}

/* line 314 */
#attendees {
  background-image: url("../images/people.svg");
  background-color: #0f5d27;
  background-position: center center;
  background-size: cover;
}

/* line 321 */
#welcome {
  font-size: 64px;
  margin-top: 100px;
  margin-bottom: 20px;
}
