/*

    Most Important Variables go here

 */
@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@font-face {
  font-family: "Gilroy Bold";
  src: url("../gen/Gilroy-ExtraBold.otf");
}
@font-face {
  font-family: "Gilroy";
  src: url("../gen/Gilroy-Medium.ttf");
}
@keyframes anchor-rotate {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}
/* line 25 */
h1 {
  font-size: 72px;
}

@media screen and (max-width: 700px) {
  /* line 30 */
  .divider {
    margin-top: -15px;
  }

  /* line 33 */
  .calendar {
    width: 100% !important;
  }

  /* line 36 */
  .footer {
    margin-bottom: 60px;
  }

  /* line 39 */
  h1 {
    font-size: 48px !important;
  }
}
@media screen and (min-width: 1001px) {
  /* line 46 */
  #mobileMenu {
    display: none !important;
  }
}
/* line 51 */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* line 56 */
::selection {
  transition: all ease-in-out 0.2s;
  background: #e4ad85;
}

/* line 61 */
::-moz-selection {
  background: #0071bc;
}

/* line 65 */
::-webkit-scrollbar {
  width: 8px;
}

/* line 69 */
::-webkit-scrollbar-track {
  background: #100e16;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* line 74 */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(#ff1e1e, #ff9c00, #ffc900, #18c51e, #00a1df, #000eff, #9c00ff, #ff00da, #ff0000);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 1ms ease infinite;
  -moz-animation: rainbow 1ms ease infinite;
  animation: rainbow 1ms ease infinite;
}

/* line 79 */
::-webkit-scrollbar-thumb:hover {
  background: #22bffb;
}

/* line 83 */
.navbar {
  background: #0071bc;
  transition: 250ms ease-in-out all;
  border-radius: 0 0 20px 20px !important;
  position: fixed;
  padding: 20px;
  width: 100vw;
  z-index: 999;
}

/* line 93 */
* {
  font-family: -apple-system, "Gilroy";
  transition: 250ms ease-in-out all;
}
/* line 97 */
* .important {
  font-family: -apple-system, "Gilroy Bold";
}
/* line 101 */
* button {
  font-family: -apple-system, "Gilroy Bold";
  border: 0px;
  padding: 16px;
  border-radius: 500px !important;
}

/* line 109 */
.center {
  text-align: center;
}

/* line 113 */
body {
  background: #0071bc;
  overflow-x: hidden;
  max-width: 100vw;
}

/* line 119 */
#all-content {
  background: #edc9af !important;
  padding-bottom: 0;
}

/* line 124 */
.grey-text {
  color: #100e16 !important;
}

/* line 128 */
.pink-text-gradient {
  background: -webkit-linear-gradient(#d53032, #fb0074);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* line 132 */
.orange-text {
  color: #FF5722;
}

/* line 136 */
.purple-text {
  color: #ff3bff;
}

/* line 140 */
.white-text {
  color: white;
}

/* line 144 */
.padding-none {
  padding: 0 !important;
}

/* line 148 */
.border-radius-none {
  border-radius: 0 !important;
}

/* line 152 */
.secondary {
  background: #22bffb;
}

/* line 156 */
.black-text {
  color: black !important;
}

/* line 160 */
.btn-primary {
  border-color: transparent !important;
}

/* line 164 */
.full-width {
  width: 100% !important;
}

/* line 168 */
.row > *[class^="col"] {
  margin-bottom: 20px;
}

/*
.box-shadow {
  transition: all ease-in-out 0.2s;
  box-shadow: 5px 5px 6px rgba(46, 46, 46, 0.6);
}
.box-shadow:hover {
  box-shadow: 1px 1px 6px rgba(46, 46, 46, 0.6);
}
*/
/* line 182 */
.team-member {
  min-height: 50px;
  border-radius: 16px;
  background: #e4ad85;
  margin: 16px;
  text-align: center;
  padding: 16px;
}
/* line 189 */
.team-member .logo {
  border-radius: 16px;
  overflow: hidden;
  height: 100px;
  border: 8px solid black;
  width: 100px;
  margin: 0 auto;
  background-color: black;
}
/* line 197 */
.team-member .logo .logo, .team-member .logo img {
  position: absolute;
  left: 0;
  width: 100%;
}
/* line 204 */
.team-member .logo:hover {
  box-shadow: 8px 8px #222222 !important;
}
/* line 209 */
.team-member a {
  font-size: 24px;
  font-family: "Gilroy";
  color: white !important;
}

/* line 216 */
.sponsorship-logo {
  box-shadow: 0px 0px;
  max-width: 150px;
  transition: 200ms ease-in-out all;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}
/* line 224 */
.sponsorship-logo:hover {
  transform: translateY(-5px);
  background: rgba(255, 255, 255, 0.2);
}

/* line 230 */
.superhero-tier {
  max-width: 500px !important;
  font-size: 36pt;
  min-height: 200px;
}

/* line 236 */
.gold-tier {
  max-width: 400px !important;
}

/* line 240 */
.silver-tier {
  max-width: 350px !important;
  max-height: 150px;
}

/* line 246 */
.custom-tier img {
  max-height: 200px;
}

/* line 251 */
.community-tier {
  max-width: 200px !important;
}

/* line 255 */
#sponsor-images {
  text-align: center;
  background: transparent;
}
/* line 259 */
#sponsor-images .col {
  /* flex-grow: 0 !important; */
}

/* line 265 */
#mobile {
  position: fixed;
  bottom: 0;
  background: #001f33;
  width: 100vw;
  font-size: 50pt;
  z-index: 999;
  height: 60px;
  line-height: 60px;
}

/* line 276 */
h1 {
  margin-bottom: 0;
}

/* line 280 */
.mobile-col {
  width: 33%;
  text-align: center;
}

/* line 285 */
.mobile-icon {
  font-size: 16pt !important;
}

/* line 289 */
.image-smooth {
  border-radius: 20px !important;
  padding: 5px;
}

/* line 294 */
.btn:not(.btn-mobile):not(.btn-footer) {
  border-radius: 500px;
  background: transparent;
  color: white;
  transition: 250ms ease-in-out all;
  border: 4px solid white !important;
  font-size: 18pt;
}
/* line 302 */
.btn:not(.btn-mobile):not(.btn-footer):hover {
  background: white;
  color: #0071bc;
}

/* line 308 */
.calendar {
  overflow-y: scroll;
  height: 400px;
}
/* line 312 */
.calendar::-webkit-scrollbar-track {
  background: transparent !important;
}
/* line 316 */
.calendar::-webkit-scrollbar-thumb {
  border-radius: 0 5px 5px 0;
  background: #100e16;
}

/* line 322 */
.leader-text {
  margin-top: 80px !important;
  color: black;
  position: relative;
  display: inline-block;
  text-shadow: 4px 4px #da915c;
  font-size: 48pt;
}

/* line 331 */
.card {
  background: black;
  border: 8px solid black !important;
  border-radius: 20px !important;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.15);
  transition: all 0.2s ease-in-out;
  box-shadow: 4px 4px #222222;
  margin-bottom: 20px;
  color: white !important;
}
/* line 341 */
.card:hover {
  box-shadow: 8px 8px #222222;
  transform: scale(1.05, 1.05) rotate(-0.18deg);
  cursor: pointer;
}

/* line 348 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 355 */
a {
  font-family: -apple-system, "Gilroy Bold";
  color: black;
}
/* line 359 */
a:hover {
  color: #515151;
  text-decoration-style: unset;
}

/* line 365 */
.underline {
  text-decoration: underline !important;
}

/* line 369 */
.text-light {
  color: white !important;
}

/* line 373 */
.text-super {
  color: #22bffb;
}

/* line 377 */
.bg-super {
  background: #0071bc;
}

/* line 381 */
.transparent {
  background: transparent;
}

/* line 385 */
.bg-black {
  background: black !important;
}

/* line 389 */
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

/* line 394 */
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/* line 399 */
#logo-helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

/* line 405 */
#logo {
  display: inline-block;
  vertical-align: middle;
  width: 50vw;
  max-height: 30vh;
  animation: anchor-rotate 2s infinite ease-in-out;
  margin-top: 100px;
}

/* line 414 */
#logo-text {
  width: 100%;
  max-height: 100px;
}

/* line 419 */
#logo-sub-text {
  width: 100%;
  max-height: 100px;
}

/* line 424 */
#map {
  height: 66vh;
}

/* line 428 */
#main-content {
  background: #edc9af;
  text-align: center !important;
}

/* line 433 */
#meet-the-team-leader {
  margin-top: 100px !important;
}

/* line 437 */
.image-caption {
  background: #fa335b;
  font-family: -apple-system, "Gilroy Bold";
  width: calc(100% + 16px);
  padding: 8px 16px;
  bottom: -8px;
  left: -8px;
  border-radius: 16px;
  border: 8px solid black;
  position: absolute;
  font-size: 16pt;
  text-transform: uppercase;
}

/* line 451 */
.footer {
  padding-top: 50px;
  font-size: 24pt;
}
/* line 455 */
.footer .btn-footer {
  color: white;
  font-size: 24pt !important;
}

/* line 461 */
tr {
  transition: background-color 0.1s linear;
  margin: 20px 0px;
  color: black;
}
/* line 466 */
tr td {
  font-family: "Gilroy Bold" !important;
  border-top: 8px solid black !important;
}
/* line 472 */
tr:hover {
  color: #edc9af;
  background-color: black;
  cursor: pointer;
}

/* line 479 */
#san-diego {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 700 500' style='enable-background:new 0 0 700 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bdisplay:none;fill:%23FFFFFF;%7D .st1%7Bfill:%23d9cf0d;%7D%0A%3C/style%3E%3Cimage style='display:none;overflow:visible;' width='3246' height='1855' xlink:href='../../Documents/San_Diego,_CA_USA_-_View_from_Coronado_-_panoramio.jpg' transform='matrix(0.2311 0 0 0.2311 -25 35.1978)'%3E%3C/image%3E%3Cpolyline class='st0' points='0,339 28,339 28,309 32,309 32,303 34,303 34,301 40,301 49,301 51,303 51,310 54,310 54,329 60,324 62,325 72,320 72,310 75,310 75,309 81,309 88,309 88,328 88,330 90,330 90,308 92,306 92,288 94,288 95,283 103,283 103,286 107,286 107,289 107,307 109,309 109,328 113,328 113,324 115,324 115,321 117,321 117,315 120,315 120,298 '/%3E%3Cpath class='st1' d='M-37.5,505.5c0,0,68.4-125,72.2-280H72c0,0-39.5,266-82.1,280H-37.5z'/%3E%3Cpath class='st1' d='M27.5,225.5c0,0-80-2-84,39c0,0,0-93,72-92c0,0-30-36-80-16c0,0,45-63,100-30c0,0-10-40-40-44c0,0,75-7,104,55 c0,0,36-35,78,36c0,0-74-24-85,13c0,0,68,10,85,72c0,0-98-53-103-26S27.5,225.5,27.5,225.5z'/%3E%3Cpath class='st1' d='M255.5,506.5c0,0,68.4-125,72.2-280H365c0,0-39.5,266-82.1,280H255.5z'/%3E%3Cpath class='st1' d='M320.5,226.5c0,0-80-2-84,39c0,0,0-93,72-92c0,0-30-36-80-16c0,0,45-63,100-30c0,0-10-40-40-44c0,0,75-7,104,55 c0,0,36-35,78,36c0,0-74-24-85,13c0,0,68,10,85,72c0,0-98-53-103-26S320.5,226.5,320.5,226.5z'/%3E%3Cpath class='st1' d='M548.5,510.5c0,0,68.4-125,72.2-280H658c0,0-39.5,266-82.1,280H548.5z'/%3E%3Cpath class='st1' d='M613.5,230.5c0,0-80-2-84,39c0,0,0-93,72-92c0,0-30-36-80-16c0,0,45-63,100-30c0,0-10-40-40-44c0,0,75-7,104,55 c0,0,36-35,78,36c0,0-74-24-85,13c0,0,68,10,85,72c0,0-98-53-103-26S613.5,230.5,613.5,230.5z'/%3E%3C/svg%3E%0A");
  background-color: #f2e824;
  background-position: center center;
  background-size: cover;
  vertical-align: top;
}

/* line 487 */
#time-frame {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 750 500' style='enable-background:new 0 0 750 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.2;fill:none;stroke:%23FFFFFF;stroke-width:20;stroke-miterlimit:10;%7D .st1%7Bopacity:0.2;fill:none;stroke:%23FFFFFF;stroke-width:20;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Ccircle class='st0' cx='271.5' cy='262.5' r='184.5'/%3E%3Cpolyline class='st1' points='271.5,130.4 271.5,262.5 347.8,337.3 '/%3E%3C/svg%3E");
  background-color: #003fb3;
  background-position: center center;
  background-size: cover;
  vertical-align: top;
}

/* line 495 */
#attendees {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 750 500' style='enable-background:new 0 0 750 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%231A1A1A;%7D .st1%7Bopacity:0.4;fill:%23FBB03B;%7D .st2%7Bfill:%23FBB03B;%7D%0A%3C/style%3E%3Crect x='0' width='750' height='500'/%3E%3Cpath class='st0' d='M0,343h34v88l5,1v-9l19-1v-53l25-15l24,12l5,7l6-2v28h11v15l31,1v-10l39-5v-65l18-40v-11h4l24,10v8l18,36v120h5 v-21l24-5l10-24l47-9v-78c0,0,20-65,22-62s28,17,28,17l21,48v97l6-7l22-2v31l19-12v-59l72-2v30h17v19l6-1v-5l16-1v-7l8-5v-59l38-20 v16h8v63h91l4-42h51v142H0V343z'/%3E%3Cpolygon class='st1' points='477.9,106.6 371,259 395.4,274 617.6,214.9 '/%3E%3Cellipse class='st2' cx='574.5' cy='144' rx='110.5' ry='77'/%3E%3Cpath d='M604,103.5c2.6,3.8,15.2,24.5-3.9,33.3c0,0-11.3,6.3-14.2-34l-4.4,6h-6h-6l-4.4-6c-2.8,40.3-14.2,34-14.2,34 c-21.1-9.7-3.5-33.9-3.5-33.9c-28.1,6.2-48.1,21.9-48.1,40.2c0,14.3,12.1,26.9,30.6,34.7c-0.1-0.1-8.6-13.4-0.1-17.1 c8.5-3.8,16,3.1,20.4,11c0,0,4.7-9.7,10.4-8.8c5.7,0.9,13.2,15.4,14.8,23.3c0,0,0,0,0.1,0c1.6-7.9,9.1-22.3,14.8-23.3 c5.7-0.9,10.4,8.8,10.4,8.8c4.4-7.9,11.9-14.8,20.4-11c6.8,3,2.6,12.3,0.7,15.8c16.8-7.9,27.6-19.9,27.6-33.4 C649.5,125.3,630.8,110,604,103.5z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: black;
  background-position: center center;
  background-size: cover;
  vertical-align: top;
}

/* line 503 */
#welcome {
  font-size: 64px;
  margin-top: 100px;
  margin-bottom: 20px;
}

/* line 509 */
#header-logo, #zxYzUx {
  display: none;
}

/* line 513 */
svg {
  margin-top: 0px;
  display: block;
}

/* line 518 */
#community-card {
  background-image: url("../images/idea-driven.jpg");
  background-color: black;
  background-position: center center;
  background-size: cover;
  height: 350px !important;
}

/* line 526 */
#everyone-card {
  background-image: url("../images/DAW_2883.jpg");
  background-color: black;
  background-position: center center;
  background-size: cover;
  height: 350px !important;
}

/* line 534 */
#header-bg {
  background: url("../svg/head-bg.svg");
  background-size: cover;
}
/* line 538 */
#header-bg span.badge-danger {
  margin-top: 10px;
  border-radius: 16px;
  padding: 8px 16px;
}

/* line 545 */
#register-button {
  padding: 8px 32px !important;
  font-size: 24pt !important;
  background: transparent;
  color: white;
  border: 4px solid white;
}
/* line 552 */
#register-button path {
  transition: none !important;
}
/* line 556 */
#register-button:hover {
  background: white;
  color: #0071bc;
}

/* line 562 */
.nav-item {
  margin: 0px 10px;
  font-size: 18pt;
  text-transform: uppercase;
}
/* line 567 */
.nav-item:hover:not(.btn) {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 500px;
}
